<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianjs.mapper.TUserMapper">


<resultMap id ="baseResultMap"  type="com.tianjs.model.User">
		<result column ="id"  property ="id"/>
		<result column ="username"  property ="username"/>
		<result column ="password"  property ="password"/>
		<result column ="phonenumber"  property ="phonenumber"/>
</resultMap>
	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 	id,	username,	password,phonenumber
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="findById" resultType="com.tianjs.model.User"  parameterType="java.lang.String" resultMap ="baseResultMap">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM t_user
		 WHERE id = #{id}
	</select>
	
	<select id="findByUsername" resultType="com.tianjs.model.User"  parameterType="java.lang.String" resultMap ="baseResultMap">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM t_user
		 WHERE username = #{username}
	</select>

	<select id="findRoleByUserId" resultType="com.tianjs.model.Role"  parameterType="java.lang.String">
		SELECT r.*
		 FROM t_user u left join t_user_role ur on u.id=ur.user_id LEFT JOIN t_role r ON ur.role_id=r.id
		 WHERE u.id = #{id}
	</select>

	<select id="findListBy" resultType="com.tianjs.model.User" parameterType="java.util.HashMap" resultMap ="baseResultMap">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM t_user
		 WHERE 1=1  
			<if test="id != null    and   !''.equals(id) ">
				  and  id = #{id}  
			</if>
			<if test="username != null    and   !''.equals(username) ">
				  and  username = #{username}  
			</if>
			<if test="password != null    and   !''.equals(password) ">
				  and  password = #{password}  
			</if>

	</select>


	<select id="findPageBy" resultType="com.tianjs.model.User" parameterType="java.util.HashMap" resultMap ="baseResultMap">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM t_user
		 WHERE 1=1  
			<if test="id != null    and   !''.equals(id) ">
				  and  id = #{id}  
			</if>
			<if test="username != null    and   !''.equals(username) ">
				  and  username = #{username}  
			</if>
			<if test="password != null    and   !''.equals(password) ">
				  and  password = #{password}  
			</if>

	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteById" parameterType="java.lang.String">
		 DELETE FROM t_user
		 WHERE id = #{id}
	</delete>

	<!--删除：根据主键ID删除-->
	<delete id="delete" parameterType="java.util.HashMap">
		 DELETE FROM t_user
		 WHERE 1=1 
			<if test="id != null    and   !''.equals(id) ">
				  and  id in (${id})  
			</if>
			<if test="username != null    and   !''.equals(username) ">
				  and  username = #{username}  
			</if>
			<if test="password != null    and   !''.equals(password) ">
				  and  password = #{password}  
			</if>
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.tianjs.model.User">
		 INSERT INTO t_user
 		(id,username,password) 
		 VALUES 
 		(#{id},#{username},#{password}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="java.util.HashMap">
		 INSERT INTO t_user
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null  and   !''.equals(id) ">
				 id,
			</if>
			<if test="username != null  and   !''.equals(username) ">
				 username,
			</if>
			<if test="password != null  and   !''.equals(password) ">
				 password,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null  and  ! ''.equals(id) ">
				 #{id},
			</if>
			<if test="username!=null  and  ! ''.equals(username) ">
				 #{username},
			</if>
			<if test="password!=null  and  ! ''.equals(password) ">
				 #{password},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="update" parameterType="com.tianjs.model.User">
		 UPDATE t_user
 		 <set> 
			<if test="username != null    ">
				 username = #{username},
			</if>
			<if test="password != null    ">
				 password = #{password},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateById"  parameterType="com.tianjs.model.User">
		 UPDATE t_user
		 SET 
			 username = #{username},
			 password = #{password}
		 WHERE id = #{id}
	</update>

</mapper>