<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header>
	<div class="container">
        <ul>
            <li><a href="/" th:href="@{/}"><i></i>天安金交所首页</a></li>
        </ul>
        <ul th:if="${session.user==null}">
            <li><a th:href="@{/login}" th:if="${session.user==null}">登录</a></li>
            <li><a href="javascript:void(0)">|</a></li>
            <li><a th:href="@{/registration}">注册</a></li>
        </ul>
        <ul th:unless="${session.user==null}">
            <li>欢迎您，<a th:text="${session.user.getUsername()}">登录</a></li>
            <li><a href="javascript:void(0)">|</a></li>
            <li><a th:href="@{/loginOut}" th:unless="${session.user==null}">退出</a></li>
        </ul>
    </div>
</header>
</html>